.login {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 33.3%,
      rgba(0, 0, 0, 0.1) 67%,
      rgba(0, 0, 0, 0.4)
    ),
    url("https://www.greeka.com/photos/sporades/skopelos/accommodation/hero/skopelos-hotels-1920.webp");
}

.loginWrapper {
  min-width: 300px;
  max-width: 400px;
  height: 60%;
  min-height: 400px;
  max-height:400px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginTitle {
  font-size: 30px;
  font-weight: 700;
  color: rgb(19, 106, 221);
  margin-top: 20px;
}


.loginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  
}
.loginLabel {
  font-size: 18px;
  margin: 15px 0;
}
.loginInput {
  padding: 5px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid grey;
}
.loginInput:focus {
  outline: none;
}
.loginBtn {
  padding: 8px;
  margin-top: 30px;
  margin-bottom:30px;
  border: none;
  color:rgb(47, 47, 47);
  background-color: rgb(237, 184, 38);
  font-size: 18px;           
  cursor: pointer;
  border-radius: 5px;
}
.loginBtn:disabled {
  cursor: not-allowed;
}
.loginRegisterBtn {
  background-color:  rgb(159, 200, 99);
  color:white;
}

.linkBtns{

    display: flex;
    background-color:  rgb(159, 200, 99);
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
  }
  



  @media screen and (max-width: 330px) {
    .loginWrapper  {
      margin-top: 90px;
      min-width: auto;
      max-width: auto;
    }
    
    .loginRegisterBtn {
     font-size: 10pt;
    }
    }
