@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.post {
  margin-top: 30px;
  width: 40%;
  height:fit-content;
  min-width: 300px;
  margin-right: 10px;
  margin-left: 55px;
  height: 500px;
  border-radius: 20px;
  padding-bottom:20px;
  box-shadow: 0 4px 30px rgba(8, 8, 8, 0.076);
}

.post:hover{
  box-shadow: 0 4px 30px rgba(8, 8, 8, 0.191);
  transform: scale(1.01)

}
.postWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 100%;
  min-width: 100px;
  height: 270px;
  border-radius: 10px;
  object-fit: cover;
}
.postInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.postCategory {
  width: 80%;
  display: flex;
  align-items: center;
  color:rgb(19, 106, 221);
  margin-bottom: 5px;
  justify-content: space-evenly;
  font-family: "Quicksand";
}
.postTitle {
  font-size: 19px;
  font-weight: 600;
  font-style: normal;
  color: rgb(22, 22, 22);
  margin-bottom: 10px;
  font-family: "Quicksand";
  
}
.creation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.postDate {
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
  font-style: italic;
  font-family: "Lora", serif;
}


.postDescription {
  text-align: justify;
  font-family: "Quicksand";
  line-height: 1.5rem;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  
}

@media screen and (max-width: 1000px) {
.post {
  margin-top: 30px;
  width: 40%;
  min-width: 200px;
  margin-right: 10px;
  margin-left: 30px;
  height: 500px;
  border-radius: 20px;
  padding-bottom:20px;
  box-shadow: 0 4px 30px rgba(8, 8, 8, 0.076);
}
}

@media screen and (max-width: 873px) {
  .post {
    width: 90%;
    height:fit-content;
    margin: 20px;
    padding: 0;
  }
  .postWrapper {
    padding: 20px;
    margin: 0;
  }
  .postImg{
    width: 100%;
    height: auto
  }
  .postInfo{
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  .post {
    width: 100%;
    height:fit-content;
    margin: 10px;
    display:flex;
    justify-content: center;
    
  }

  @media screen and (max-width:377px) {

    .post{
      margin: 20px;
      width: 90%;
    }
    .postWrapper {
      
      padding: 10px;
     
    }
}

@media screen and (max-width:285px) {

  .post{
    margin: 15px;
    width: 90%;
  }
  .postWrapper {
    
    padding: 10px;
   
  }
}
}

