.singlePost {
  flex: 9;
}
.singlePostWrapper {
  padding: 10px;
  margin-right: 25px;
  padding-left: 30px;
  margin-top: 20px;
  
}

.singlePostImg {
  width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
}

.singlePostTitleInfo {
  margin: 15px 0;
  display: flex;
  justify-content:left;
  align-items: center;
}

.singlePostTitle {
 text-align: left;
  font-size: 24px;
 
  letter-spacing: 0.05rem;
  color:  rgb(19, 106, 221);;
}
.singlePostIcons {
 
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  
}

.edit {
  
  color: teal;
  cursor: pointer;
}
.trash {
  
  margin-left: 10px;
  color: rgb(211, 21, 11);
  cursor: pointer;
}

.singlePostAuthorInfo {
  display:flex;
  flex: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.singlePostAuthorName {
  color: grey;
  font-size: 18px;
}

.singlePostDate {
  color: rgb(99, 98, 98);
  font-size: 14px;
  font-family: "Lora", serif;
  font-style: italic;
  display:flex;
  flex:auto;
  justify-content: right;
  margin-right: 10px;
}



.singlePostDescription {
  text-align: justify;
  line-height: 1.52rem;
  font-size: 16px;
  
}


.singlePostUpdateTitleInput {
  padding: 5px 10px;
  border: 2px solid rgb(194, 143, 49);
  width: 100%;
  margin: 10px 0;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(110, 109, 109);
}
.singlePostUpdateTitleInput:focus {
  outline: none;
}

.singlePostUpdateDescInput {
  width: 100%;
  height: 300px;
  padding: 5px 10px;
  border: 2px solid rgb(194, 143, 49);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.45rem;
  color: grey;
  text-align: justify;
}
.singlePostUpdateDescInput:focus {
  outline: none;
}

.singlePostBtnWrapper {
  display: flex;
  justify-content: flex-end;
}
.singlePostBtn {
  padding: 9px 18px;
  margin-top: 10px;
  color:rgb(47, 47, 47);
  background-color: rgb(237, 184, 38);
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  
  .singlePost {
    margin-right: 20px;
  }
  
  .singlePostTitleInfo{
    flex-direction: column;
  }
  .singlePostTitle{
    font-size: 16px;
  }
  .singlePostImg{
    height: 250px;
  }
  .edit{
    font-size: 14px;
  }
  .trash{
    font-size: 14px;
  }
}
