.sidebar {
  flex: 3;
  margin-top: 20px;
}

.sidebarWrapper {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarItemTitle {
  margin-top: 15px;
  margin-bottom: 20px;
  background:rgba(19, 107, 221, 0.721);
  
  padding: 8px 0;
  font-size: 19px;
  text-align: center;
  color: white
}
.sidebarImg {
  margin: 20px 20px 20px 20px;
  width: 330px;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}
.sidebarAbout {
  font-size: 16.5px;
  font-weight: 400;
  color: rgb(100, 98, 98);
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.2rem;
}
.sidebarCategoryList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom:25px;
}
.sidebarCategoryListItem {
  margin: 5px 0;
  cursor: pointer;
  width: 50%;
  color: rgb(19, 106, 221);
  
}
.sidebarIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px rgb(209, 208, 208) solid;
  margin-bottom: 5px;
}
.sidebarIcon {
  font-size: 22px;
  margin-right: 15px;
  color: rgb(49, 47, 47);
  cursor: pointer;
  margin-bottom: 20px;
 
}
.adminLogin{
  color:rgb(145, 143, 143);
  padding-top: 5px;
  float: right;
 
}



@media screen and (max-width:950px) {
.sidebarCategoryList {
  
  display: block;
  line-height: 16pt;
}
}

@media screen and (max-width:480px) {

  .sidebarCategoryList {
    
    display: flex;
    line-height: 12pt;
    margin-left:10px
  }

  .sidebar{
    flex:1;
    justify-items: center;
    margin-left: 10%;
    margin-right: auto;
  }

  .sidebarItem{
    margin-left:20px;

  }

}
