@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.navbar {
  width: 100%;
  height: 90px;
  background-color: #fff;
  position:sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: left;
  box-shadow: 0 4px 30px rgba(8, 8, 8, 0.141);
}

.navbarWrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 40px;
}

.material-symbols-outlined {
  font-size: 30pt;
  margin-right: 5px;
  color:rgb(225, 155, 58);
  padding-bottom: 0%;
  
}
.island{
  font-family: "Nunito";
  font-weight: 100; 
  color:  rgb(19, 106, 221);
 
}

.hoppers{
  font-family: "Nunito";
  font-weight:800;
  color: rgb(225, 155, 58);
}

.hide2{
  display: none;
}

.hide3{
  display: none;
}

.navHide2{
  display:none;
  
 
}


.navbarLeft {
  display: flex;
  flex:auto;
  align-items: left;
  margin-top: 10px;
 

}

.navbarCenter {
  
  display:inline-flex;
  align-items: center;
  
  
  
}
.navbarCenterItem {
  display: flex;
  font-family: "Nunito";
  font-size: 13pt;
  font-weight: 500;
  margin-right:25px;
  color:  rgb(112, 124, 140);
  cursor: pointer;
 
}


.navbarCenterItemLogOut {
  display: flex;
  font-family: "Nunito";
  font-size: 13pt;
  font-weight: 500;
  margin-right:25px;
  color: rgb(225, 155, 58);
  cursor: pointer;
 
}
.navbarRight {
  display: flex;
  align-items: center;
}
.navbarImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

@media screen and (max-width:895px) {

  .hide1{
    display:none;
  }

  .hide2{
   display:block
  }

  .island{
    font-weight: 500; 
  }

}

@media screen and (max-width:623px) {

  .hide2{
    display:none
  }

  .hide3{
    display:block
  }


}

@media screen and (max-width:600px) {

  .navHide1{
    display:none;
  }

  .navHide2{
    display:inline-flex;
  }

}

@media screen and (max-width:480px) {

  .hoppers {
   
    margin-right: 10px;
   
  }
 
  .navbarCenterItem{
    
    font-size: 12px;
    margin: 0px 15px 0px 0px;
  }
  .navbarCenterItemLogOut{
    
    font-size: 12px;
    margin: 0px 15px 0px 0px;
  }
  .navbarImg{
    width: 28px;
    height: 28px;
  }
}


@media screen and (max-width:365px) {

  .navbar{
    height: 60px;
    position:fixed;
    
  }
  .island{
    font-size:15pt;
  }
  
  .hoppers{
    font-size:15pt;
    margin-right: 10px;
  }
  .navbarCenterItem{
    
    font-size: 10px;
    margin: 0px 12px 0px 0px;
  }
  .navbarCenterItemLogOut{
    
    font-size: 10px;
    margin: 0px;
  }

  .material-symbols-outlined {
    font-size: 0pt;
    margin-top: 5px;
   
  }
  .navbarCenter {
  
    margin: 0px 10px 0px 0px;
    
  }
 
  .navbarWrapper {
   
    margin-left: 15px;
    
  }
}
